@import "tailwindcss";

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@theme {
  --red: #F20530;
  --jet: #222527;
  --orange: #FF6100;
  --moonstone: #6BA8B4;
  --vanilla: #F0D7B2;
}